body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 238, 181);
    color: #34495E;
}

nav {
    background-color: rgb(92, 155, 90);
    color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #FFFFFF; 
    text-decoration: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

section {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panel-content {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

button {
    background-color: rgb(50, 83, 55);
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2980B9;
}

.alert-success {
    color: #2ECC71;
}

.alert-error {
    color: #E74C3C;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #34495E;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(92, 155, 90);
    color: #FFFFFF;
}
