*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.Menuh a{
    

    background-color: rgb(50, 83, 55);
    color: white;
    text-decoration: none;
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
 
    

} 
.parrafo{
  font-size: 20px;
  justify-content: center;
  
  
}
body{
  background-color: rgb(245, 238, 181);  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Menuh a :hover{
    background-color: white;
    color: black;
}

.encabezado-img{
    background-image: url(../img/f.jpg); 
    margin-top: 50px;
    height: 600px;
    width: auto;
    background-size: cover;
    
    
}
.mapa{
  padding-left: 5px;
  padding-right: 15px;
}
.container{
  display: flex;
  justify-content: space-between;
}
.form2{
  border: 2px blue solid;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 25px;
  padding-bottom: 3%;
  padding-top: 3%;
  background-color: rgb(206, 224, 221);
  width: 350px;
 
}
.footer {
    position: relative;
    width: 100%;
    background-color: rgb(92, 155, 90);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: black;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: black;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .p1{

    color: black;
  }
  .frm{    /*formulario */
    border: 2px blue solid;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 25px;
    padding-bottom: 3%;
    padding-top: 3%;
    background-color: rgb(206, 224, 221);
    width: 350px;
    
}
.mitabla{
 width: 800px;
 height: 300px;
  margin: 0 auto;
  text-align: center;
  margin-right: 30px;
  
}
.agenda{
  text-align: left;
  margin-left: 80px;
}

.items{
padding-right: 2%;
padding-left: 2%;

}
.imagen{
    width: 100px;
    
    
}
header{
    background-color: rgb(92, 155, 90);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}